Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Update package.json with new command for code formatting
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.mjs
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: updated dependencies for the latest versions
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: updated the `ExternalLinksSection` component to include a new icon.
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add MainStacksSection
  .github/workflows/spelling.yml
  docs/TODO.md
  eslint.config.mjs
  src/app/page.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: added infinite scroll animation to stacks section and updated icons
  src/app/globals.css
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(stories): add ContactForm component and related Storybook stories
  .storybook/main.ts
  bun.lockb
  eslint.config.mjs
  package.json
  src/stories/Contact.stories.tsx
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor(Contact): update form validation using zod and adjust form fields and error handling
  .storybook/main.ts
  bun.lockb
  package.json
  src/stories/Contact.stories.tsx
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(ContactForm): enhance form with validation and improved UI elements
  .storybook/preview.ts
  apps/.DS_Store
  src/stories/Contact.stories.tsx
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style(Contact): Update input styles and integrate clsx for conditional class names
  src/stories/Contact.tsx
  tailwind.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(ContactForm): add custom button component and refactor form submission logic
  bun.lockb
  src/stories/Contact.tsx
  src/ui/button.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor(Contact): move contact form logic to a separate hook and clean up imports
  src/stories/Contact.tsx
  src/stories/use-contact-form.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: rename use-contact-form and update import path in Contact.tsx
  src/hooks/use-contact-form.ts
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: rename contactFormForm to contactFormFields for clarity and consistency
  src/hooks/use-contact-form.ts
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: rename use-data-query.tsx to use-data-query.ts
  src/hooks/use-data-query.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add loading state to contact form submission handling
  src/hooks/use-contact-form.ts
  src/stories/Contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: remove unused Button and Header components along with their stories and styles
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/ui/contact.stories.tsx
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add utility functions and integrate Storybook with new delay feature in contact form
  eslint.config.mjs
  src/app/utils.ts
  src/hooks/use-contact-form.ts
  src/ui/contact.stories.tsx
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: rename .release-it.js to .release-it.mjs for module syntax update
  .release-it.mjs
Due: oxlint

refactor: update variable names and clean up unused imports in contact form components
  eslint.config.mjs
  src/hooks/use-contact-form.ts
  src/ui/contact.stories.tsx
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor(contact-form): remove commented budget selection from contact form code
  src/hooks/use-contact-form.ts
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor(contact-form): update contact form schema and clean up unused code in UI component
  src/hooks/use-contact-form.ts
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(useContactForm): add control to form return values for improved form handling
  src/hooks/use-contact-form.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

Release 1.9.0
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: Update CHANGELOG and fix typo in external links section comment
  CHANGELOG.md
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: add initial configuration for typo checking in .typos.toml
  .typos.toml
Due: none

fix(contact): add missing key prop to ErrorMessage component in ContactForm
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style(eslint.config.mjs): comment out import statement for FlatCompat in ESLint config
  eslint.config.mjs
Due: oxlint

feat: add validator dependency and update contact form schema for phone validation
  bun.lockb
  package.json
  src/hooks/use-contact-form.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

Release 1.10.0
  package.json
Due: pnpm prettier --write --ignore-unknown

develop (#29)
  .release-it.mjs
  .storybook/main.ts
  .storybook/preview.ts
  .typos.toml
  CHANGELOG.md
  apps/.DS_Store
  bun.lockb
  eslint.config.mjs
  package.json
  src/app/utils.ts
  src/hooks/use-contact-form.ts
  src/hooks/use-data-query.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/ui/button.tsx
  src/ui/contact.stories.tsx
  src/ui/contact.tsx
  src/ui/sections/external-links-section.tsx
  tailwind.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update biome.json configuration and add biome:migrate script in package.json
  biome.json
  package.json
Due: pnpm prettier --write --ignore-unknown

style: Format JSON and TypeScript imports for consistency and clarity
  biome.json
  package.json
  src/hooks/use-contact-form.ts
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Format code and add alt attributes to images in MainStacksSection component
  package.json
  src/hooks/use-contact-form.ts
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

Release 1.11.0
  package.json
Due: pnpm prettier --write --ignore-unknown

style: update animation duration and adjust markup styles for layout consistency
  src/app/globals.css
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Clean up eslint config formatting and update image tags in MainStacksSection component
  package.json
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

build: add @faker-js/faker dependency to package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

build: add tailwindcss-radix dependency to package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

Release 1.12.0
  package.json
Due: pnpm prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
