Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix  --format=pretty",
    "pnpm prettier --write --ignore-unknown"
  ],
  "*.{json,html}": ["pnpm prettier --write --ignore-unknown"],
  "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}": "oxlint"
}

feat: add bun for dep
  .github/workflows/deploy.yml
Due: none

fix: ci
  .github/workflows/deploy.yml
Due: none

fix: ci
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

fix: ci
  bun.lockb
Due: none

fix: ci
  .github/workflows/deploy.yml
  next.config.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

fix: ci
  package.json
Due: pnpm prettier --write --ignore-unknown

fix: ci
  docs/scrap.md
Due: none

fix: ci
  .github/workflows/deploy.yml
  docs/scrap.md
Due: none

fix: ci deploy
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

fix: ci deploy
  src/ui/sections/banner-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add scrollbar
  src/app/globals.css
Due: none

feat: Add new WorkCard component to render multiple cards in WorkSection
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

develop (#27)
  bun.lockb
  package.json
  src/app/globals.css
  src/ui/sections/banner-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add faker
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

feat(ui): add dynamic mock data generation for work section and update work card component styling
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: wip
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Improve code formatting and remove unnecessary comments in WorkSection component
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Remove unused import and commented out code, add missing url prop to WorkCard function
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Improve class names and add group hover effect in WorkCard component
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: Add GitHub Actions workflows scripts and status check script
  package.json
Due: pnpm prettier --write --ignore-unknown

docs: Add new links to TODO.md and update command in package.json
  docs/TODO.md
  package.json
Due: pnpm prettier --write --ignore-unknown

Create spelling.yml
  .github/workflows/spelling.yml
Due: none

feat: Add new script "bun:dev" in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown
