Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix  --format=pretty",
    "pnpm prettier --write --ignore-unknown"
  ],
  "*.{json,html}": ["pnpm prettier --write --ignore-unknown"],
  "**/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}": "oxlint"
}

ci: update GitHub Actions workflow and package.json scripts
  .github/workflows/pr.yml
  package.json
Due: pnpm prettier --write --ignore-unknown

chore(package.json): update pr:edit command syntax
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: add spell check workflow to CI configuration
  .github/workflows/ci.yml
  docs/TODO.md
Due: none

chore: update biome schema version to 1.9.3
  biome.json
Due: pnpm prettier --write --ignore-unknown

ci: update CI workflow for PR checks and remove show job
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

chore: update pr:push script in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

docs: update TODO with release automation notes
  docs/TODO.md
Due: none

chore: update PR commands in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update lint:fix command in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add default configuration for git-cliff
  cliff.toml
Due: none

chore: comment out update PR description job
  .github/workflows/pr.yml
Due: none

style(package.json): fix quote usage in pr:deploy script
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: add Knip configuration file and update workflow comments
  .github/workflows/pr.yml
  knip.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update dependencies in package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add TimelineSection component and update config files
  knip.config.ts
  package.json
  src/app/page.tsx
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: remove obsolete dev script from package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

refactor: enable Storybook builder in config file
  .storybook/main.ts
  bun.lockb
  eslint.config.mjs
  package.json
  src/app/page.tsx
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: remove eslintConfig from package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add nextjs eslint
  eslint.config.mjs
Due: oxlint

build: update react-query dependencies to latest version
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update ESLint config and package dependencies
  .storybook/preview.ts
  bun.lockb
  eslint.config.mjs
  package.json
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Update comment for clarity on ts-expect-error
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: update imports and improve state handling
  eslint.config.mjs
  src/app/page.tsx
  src/hooks/use-contact-form.ts
  src/ui/sections/external-links-section.tsx
  src/ui/sections/main-stacks-section.tsx
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(next.config.js): add CDN domains for images
  next.config.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Update ESLint config file pattern and formatting
  eslint.config.mjs
  src/ui/sections/main-stacks-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat(timeline-section): add children prop to TimelineItemLine
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update package.json and fix timeline-section text
  package.json
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

docs: update TODO with new tasks for automation
  docs/TODO.md
Due: none

refactor: convert .release-it.js to .release-it.mjs
  .release-it.js
  .release-it.mjs
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

ci: add GitHub Actions release workflow configuration
  .github/workflows/release.yml
Due: none

chore: rename release-it configuration file to .cjs
  .release-it.cjs
Due: oxlint

chore: update module export syntax in config file
  .release-it.cjs
Due: oxlint

chore: clean up release-it hooks configuration
  .release-it.cjs
Due: oxlint

style: Adjust formatting and quotes in config files
  .release-it.cjs
  package.json
Due: pnpm prettier --write --ignore-unknown, oxlint

Release 1.15.0
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: update release hooks for version bump process
  .release-it.cjs
Due: oxlint

chore(release): update release workflow and messages
  .github/workflows/release.yml
  .release-it.cjs
Due: oxlint
