Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add changeset
  .changeset/README.md
  .changeset/config.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

fix: Update devDependencies versions to latest versions
  .changeset/smooth-turkeys-love.md
  .changeset/ten-laws-tap.md
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: update eslint configs
  bun.lockb
  eslint.config.mjs
  package.json
Due: pnpm prettier --write --ignore-unknown, oxlint

style: Update eslint config formatting and quotes
  eslint.config.mjs
  pnpm-lock.yaml
Due: oxlint

feat: remove eslintignore
  .eslintignore
Due: none

feat: add vitest types
  tsconfig.json
Due: pnpm prettier --write --ignore-unknown

feat: add pretty-quick
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: ignore .next folder eslint
  eslint.config.mjs
  old.eslintrc.json
Due: pnpm prettier --write --ignore-unknown, oxlint

fix: vitest types
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: remove module type from package
  bun.lockb
  package.json
  postcss.config.cjs
Due: pnpm prettier --write --ignore-unknown, oxlint

chore: update deps and types
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/providers.tsx
  src/ui/index.tsx
  src/ui/past-projects-link.tsx
  src/ui/query-client-provider.wrapper.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add work section
  .changeset/dull-turtles-share.md
  pnpm-lock.yaml
  src/app/page.tsx
  src/hooks/use-data-query.tsx
  src/ui/sections/banner-section.tsx
  src/ui/sections/hero-section.tsx
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

docs: Update package.json with "type": "module" and add "clean" script
  next.config.cjs
  package.json
Due: pnpm prettier --write --ignore-unknown, oxlint

feat: add pr:deploy script
  package.json
Due: pnpm prettier --write --ignore-unknown

develop (#22) maintainance
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

docs: Remove minor changeset files and update version to 1.7.0
  .changeset/dull-turtles-share.md
  .changeset/smooth-turkeys-love.md
  .changeset/ten-laws-tap.md
  CHANGELOG.md
  package.json
  public/data.json
Due: pnpm prettier --write --ignore-unknown

feat: add bump script
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add bump script
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: fix
  pnpm-lock.yaml
Due: none

fix: Fix binary file differences in bun.lockb
  bun.lockb
Due: none

develop (#23)
  .changeset/README.md
  .changeset/config.json
  .eslintignore
  CHANGELOG.md
  bun.lockb
  eslint.config.mjs
  next.config.cjs
  old.eslintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/data.json
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/hooks/use-data-query.tsx
  src/ui/index.tsx
  src/ui/past-projects-link.tsx
  src/ui/query-client-provider.wrapper.tsx
  src/ui/sections/banner-section.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
  src/ui/sections/work-section.tsx
  tsconfig.json
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add test workflow
  .github/workflows/deploy.yml
Due: none

style: Update id attribute in WorkSection component
  src/ui/sections/work-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: add test workflow (#25)
  .github/workflows/deploy.yml
Due: none

develop (#26)
  .github/workflows/deploy.yml
Due: none

feat: add bun for dep
  .github/workflows/deploy.yml
Due: none

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
