Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add gsap
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add gsap
  src/ui/sections/timeline-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  .eslintrc.json
  .prettier.eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/ui/index.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  .eslintrc.json
  .github/workflows/deploy.yml
  .lintstagedrc
  .prettier.eslintrc.cjs
  .prettierrc
  README.md
  commitlint.config.js
  pnpm-lock.yaml
  postcss.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/ui/sections/coming-soon-section.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  .prettierrc
  README.md
  src/app/layout.tsx
  src/app/providers.tsx
  src/ui/sections/coming-soon-section.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add prettier eslint config
  .prettierrc
Due: none

feat: add prettier eslint config
  .prettierrc
  src/app/layout.tsx
  src/app/providers.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add banner section
  src/app/layout.tsx
  src/app/page.tsx
  src/ui/placeholder-skeleton.tsx
  src/ui/sections/banner-section.test.tsx
  src/ui/sections/banner-section.tsx
  src/ui/sections/coming-soon-section.test.tsx
  src/ui/sections/hero-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add vitest react test
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/ui/home-page.test.tsx
  src/ui/past-projects-link.tsx
  tsconfig.json
  vitest-setup.ts
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add vitest react test
  src/ui/home-page.test.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add vitest react test
  pnpm-lock.yaml
Due: none

feat: add vitest react test
  .gitignore
  auto-imports.d.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add vitest react test
  src/ui/sections/hero-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add deps
  auto-imports.d.ts
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add deps
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add deps
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: add obj
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add obj
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add release-it
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: add release-it
  .release-it.json
Due: pnpm prettier --write --ignore-unknown

feat: add release-it
  package.json
  pnpm-lock.yaml
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add release-it exception
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add release-it exception
  package.json
  pnpm-lock.yaml
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v0.1.1
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v0.1.2
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add release-it cmd
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add release-it cmd
  .release-it.json
Due: pnpm prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
