Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update changelog command in release-it config
  .release-it.cjs
Due: oxlint

chore(release-it): update changelog command options
  .release-it.cjs
Due: oxlint

chore: update release commit and tag messages
  .release-it.cjs
Due: oxlint

ci: add CHANGELOG
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update changelog command in release config
  .release-it.cjs
Due: oxlint

chore: update changelog command formatting
  .release-it.cjs
Due: oxlint

chore: update CHANGELOG generation command in release-it config
  .release-it.cjs
Due: oxlint

chore: release v1.18.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v1.19.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore(release): update changelog command for release-it
  .release-it.cjs
Due: oxlint

chore: release v1.20.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v1.21.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

refactor(release notes): update format for deployment notes
  .release-it.cjs
Due: oxlint

chore: release v1.22.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update release notes format and eslint config
  .release-it.cjs
  eslint.config.mjs
Due: oxlint

chore: release v1.23.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update changelog deployment note formatting
  .release-it.cjs
Due: oxlint

chore: release v1.24.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update lint:fix command to use .gitignore
  package.json
Due: pnpm prettier --write --ignore-unknown

docs(changelog): update release note format in cliff.toml
  cliff.toml
Due: none

chore: release v1.25.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

ci(release): update release workflow for pull requests
  .github/workflows/release.yml
Due: none

chore: release v1.26.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat(release-it): handle missing changelog in release notes
  .release-it.cjs
Due: oxlint

chore: release v1.27.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

style(ci): fix formatting in release workflow and scripts
  .github/workflows/release.yml
  .release-it.cjs
Due: oxlint

style(workflow): update step names with emojis
  .github/workflows/release.yml
Due: none

ci: add master branch to release workflow triggers
  .github/workflows/release.yml
Due: none

ci: update release workflow for manual trigger and cache
  .github/workflows/release.yml
Due: none

ci: update Bun.js setup to version 2 in workflow
  .github/workflows/deploy.yml
Due: none

ci: update CI workflow for spelling checks
  .github/workflows/ci.yml
  .github/workflows/spelling.yml
Due: none

chore(workflow): update deployment workflow names and permissions
  .github/workflows/deploy.yml
Due: none

ci: update release workflow permissions for write access
  .github/workflows/release.yml
Due: none

style: Update job names in release workflow for clarity
  .github/workflows/release.yml
Due: none

ci: update release workflow to install dependencies
  .github/workflows/release.yml
Due: none

ci: update release workflow to include manual trigger
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
