Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
      "eslint --quiet --fix  --format=pretty",
      "pnpm prettier --write --ignore-unknown"
    ],
    "*.{json,html}": [
      "pnpm prettier --write --ignore-unknown"
    ]
}

feat: add biome
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: add biome
  .prettierrc
Due: none

feat: add biome
  .github/workflows/deploy.yml
  .prettier.eslintrc.cjs
  commitlint.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  scripts/release.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/ui/common.tsx
  src/ui/past-projects-link.tsx
  src/ui/placeholder-skeleton.tsx
  src/ui/sections/banner-section.test.tsx
  src/ui/sections/banner-section.tsx
  src/ui/sections/external-links-section.tsx
  src/ui/sections/hero-section.tsx
  tailwind.config.ts
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v0.36.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add custom commit message
  .release-it.json
Due: pnpm prettier --write --ignore-unknown

feat: add custom commit message
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v0.37.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add oxlint
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

chore: release v1.0.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: update releaseit
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: update releaseit
  .gitignore
  .release-it.js
  package.json
  pnpm-lock.yaml
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v1.1.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: update releaseNotes
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v1.2.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v1.3.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add animated hero image
  src/app/globals.css
  src/ui/sections/hero-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add links to experiments
  src/app/page.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add links to experiments
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add links to experiments
  src/app/page.tsx
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add links to experiments
  src/ui/past-projects-link.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add external links component
  src/ui/past-projects-link.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add external links component
  src/app/page.tsx
  src/ui/past-projects-link.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

refactor: add external links component
  src/app/cta-links.tsx
  src/app/page.tsx
  src/ui/past-projects-link.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

refactor: add external links tests
  src/app/page.tsx
  src/ui/cta-links.tsx
  src/ui/home-page.test.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v1.4.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update deps
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

chore: update eslint config
  .eslintignore
  .eslintrc.json
  .prettierignore
  .release-it.js
  CHANGELOG.md
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/ui/sections/banner-section.test.tsx
  src/ui/sections/banner-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

chore: release v1.5.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: update script
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: update script
  pnpm-lock.yaml
  src/ui/sections/banner-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: remove depricated functions
  scripts/release.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown

feat: add depcheck
  .depcheckrc
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: add depcheck
  .depcheckrc
Due: none

chore: release v1.6.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: Add script for updating npm packages with npm-check-updates
  package.json
Due: pnpm prettier --write --ignore-unknown
