Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Fix formatting inconsistencies in code files
  .github/workflows/ci.yml
  src/app/manifest.ts
  vitest.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

build: add changelog command to package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

build: add new GitHub command for PR creation
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: add new command for pull request creation
  package.json
Due: pnpm prettier --write --ignore-unknown

docs: update TODO with release automation notes
  docs/TODO.md
Due: none

build: update pr:push command for correct base branch
  package.json
Due: pnpm prettier --write --ignore-unknown

style(package.json): fix quotes in pr:push script
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: fix command substitution syntax in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update pr:push script in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: add spell check workflow to CI configuration
  .github/workflows/ci.yml
  docs/TODO.md
Due: none

build: add new scripts for pull request handling
  package.json
Due: pnpm prettier --write --ignore-unknown

chore(package.json): update pr:edit command syntax
  package.json
Due: pnpm prettier --write --ignore-unknown

chore(package.json): update pr:push command for dry run
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: update CI workflow for PR checks and remove show job
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

chore: update biome schema version to 1.9.3
  biome.json
Due: pnpm prettier --write --ignore-unknown

ci: update GitHub Actions workflow and package.json scripts
  .github/workflows/pr.yml
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update PR commands in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: add job to update PR description automatically
  .github/workflows/pr.yml
Due: none

chore(package.json): update deploy script for GitHub PRs
  package.json
Due: pnpm prettier --write --ignore-unknown

style(package.json): fix quote usage in pr:deploy script
  package.json
Due: pnpm prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
