Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: rename .release-it.mjs to .release-it.js for compatibility with CommonJS
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: release v1.13.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update dependencies and add dev:turbo script
  .DS_Store
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: remove binary files from the repository
  .DS_Store
  bun.lockb
Due: none

chore: update test command in release-it configuration
  .DS_Store
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update .gitignore to ignore .DS_Store files
  .DS_Store
  .gitignore
Due: none

chore: clean up commented code and formatting issues
  .DS_Store
  .github/workflows/deploy.yml
  docs/scrap.md
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update release-it hook command for testing
  .DS_Store
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update README for clarity on dev server command
  .DS_Store
  README.md
Due: none

chore: release v1.14.0 https://ax-sh.github.io/
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update package dependencies and versions
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update package dependencies and versions (#31)
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

refactor: change type from any to unknown in onSubmit
  src/ui/contact.stories.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update package dependencies to latest versions
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore(package.json): rename dev script and update command
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update biome schema and add format script
  biome.json
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update lint script and add new dependency
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: add @hookform/error-message dependency
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add TypeScript ignore comment for Obfuscate usage
  src/ui/sections/external-links-section.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: Rename contactFormFields to ContactFormFields
  src/hooks/use-contact-form.ts
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update release hooks and ESLint config formatting
  .release-it.js
  package.json
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor(contact): specify name type for ErrorMessage component
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

develop (#32)
  package.json
  src/ui/contact.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update dependencies and add knip script
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update package versions in package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: add initial CI workflow configuration
  .github/workflows/ci.yml
Due: none

ci: add local CI command for spelling checks
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add manifest for portfolio app
  src/app/manifest.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update CI configuration and script names
  .github/workflows/ci.yml
  package.json
Due: pnpm prettier --write --ignore-unknown

build: add git-cliff dependency to package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update release hooks in configuration file
  .release-it.js
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
