Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: release v1.28.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: fix syntax error in release workflow file
  .github/workflows/release.yml
Due: none

chore: release v1.29.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: streamline deployment workflow and add tests
  .github/workflows/deploy.yml
Due: none

chore: release v1.30.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update release script and add is-ci dependency
  .release-it.cjs
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown, oxlint

chore: release v1.31.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

ci: update checkout action to use main branch
  .github/workflows/ci.yml
Due: none

ci: update checkout action to use main branch (#49)
  .github/workflows/ci.yml
Due: none

chore: release v1.32.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update dependencies in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: clean up commented code and whitespace in files
  .github/workflows/ci.yml
  package.json
Due: pnpm prettier --write --ignore-unknown

docs: fix markdown formatting in cliff.toml file
  cliff.toml
Due: none

docs: update changelog header for ax-sh webpage
  cliff.toml
Due: none

chore: release v1.33.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update dependencies in package.json
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: update package dependencies to latest versions
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

build: update package dependencies for next version
  bun.lockb
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: update config
  bun.lockb
  knip.config.ts
  package.json
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

feat: update todo
  docs/TODO.md
Due: none

docs: update migration command in TODO.md
  docs/TODO.md
Due: none

chore: rename eslint.config.mjs to ____eslint.config.mjs
  ____eslint.config.mjs
  eslint.config.mjs
Due: oxlint

chore(eslint): update ESLint configuration file structure
  eslint.config.mjs
Due: oxlint

chore: update ESLint configuration rules and files list
  eslint.config.mjs
Due: oxlint

refactor: simplify ESLint config and update imports
  bun.lockb
  eslint.config.mjs
  package.json
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update ESLint config to integrate Prettier rules
  eslint.config.mjs
Due: oxlint

refactor(next): rename config file and update typescript usage
  next.config.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

build: update build command and add favicon icon info
  package.json
  src/app/manifest.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

chore: update ESLint config for Tailwind support
  eslint.config.mjs
Due: oxlint

chore: update deploy script and rename manifest file
  package.json
  src/ui/manifest.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

style: Update formatting in layout and manifest files
  src/app/layout.tsx
  src/ui/manifest.ts
Due: eslint --quiet --fix --format=pretty, pnpm prettier --write --ignore-unknown, oxlint

refactor: remove sonarjs from eslint configuration
  ____eslint.config.mjs
  eslint.config.mjs
  package.json
Due: pnpm prettier --write --ignore-unknown, oxlint

refactor(eslint): streamline eslint configuration files
  ____eslint.config.mjs
  eslint.config.mjs
Due: oxlint

chore: update tsconfig types for testing library support
  tsconfig.json
Due: pnpm prettier --write --ignore-unknown

chore: update version to 1.33.0 in package.json
  package.json
Due: pnpm prettier --write --ignore-unknown

chore: release v1.34.0
  CHANGELOG.md
  package.json
Due: pnpm prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix --format=pretty: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
  oxlint: any of: **/*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,vue,astro,svelte}
