Repository ax-sh/ax-sh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add AnalyticsProvider.tsx
  package.json
  pnpm-lock.yaml
  src/app/AnalyticsProvider.tsx
  src/app/layout.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add coming soon section
  src/app/globals.css
  src/app/page.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: update config
  next.config.js
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: update deploy script
  .github/workflows/deploy.yml
Due: none

feat: update deploy script
  next.config.js
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

rewrite 2024 (#1)
  .github/workflows/deploy.yml
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/AnalyticsProvider.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

rewrite 2024 (#1) (#2)
  .github/workflows/deploy.yml
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/AnalyticsProvider.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: update deploy script
  .github/workflows/deploy.yml
  next.config.js
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: update deploy script
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write --ignore-unknown

feat: update
  apps/.DS_Store
Due: none

feat: update deploy script
  .github/workflows/deploy.yml
  src/app/globals.css
  src/app/page.tsx
  src/ui/coming-soon-section.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

chore: change tracking code
  src/app/layout.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

chore: change tracking code
  next.config.js
  tailwind.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add vitest
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add vitest
  auto-imports.d.ts
  package.json
  pnpm-lock.yaml
  src/ui/coming-soon-section.test.tsx
  vitest.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add vitest
  src/ui/coming-soon-section.test.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feature/add vitest (#4)
  auto-imports.d.ts
  package.json
  pnpm-lock.yaml
  src/ui/coming-soon-section.test.tsx
  vitest.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add vitest (#5)
  auto-imports.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/ui/coming-soon-section.test.tsx
  tailwind.config.ts
  vitest.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

fix: redundent
  .github/workflows/deploy.yml
Due: none

fix: ts relative input
  package.json
  pnpm-lock.yaml
  public/hero-image.svg
  vitest.config.ts
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add new banner
  src/app/page.tsx
  src/ui/coming-soon-section.test.tsx
  src/ui/coming-soon-section.tsx
  src/ui/index.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add react-obfuscate
  .eslintrc.json
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/ui/common.tsx
  src/ui/external-links-section.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add react-obfuscate
  .eslintrc.json
Due: pnpm prettier --write --ignore-unknown

feat: add react-obfuscate
  package.json
Due: pnpm prettier --write --ignore-unknown

feat: add react-obfuscate
  src/app/page.tsx
  src/ui/external-links-section.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add @icons-pack/react-simple-icons
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/ui/coming-soon-section.tsx
  src/ui/common.tsx
  src/ui/external-links-section.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add @icons-pack/react-simple-icons
  src/ui/external-links-section.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add @icons-pack/react-simple-icons
  src/app/page.tsx
  src/ui/index.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

feat: add @icons-pack/react-simple-icons
  src/app/page.tsx
Due: eslint --quiet --fix, pnpm prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.{js,jsx,ts,tsx}
  pnpm prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html})
